<!DOCTYPE html>
<html>
	<head>
		<title>
			Cutsuhiro
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<style>
			body { 
			    padding-top: 90px; 
			}

			body, html {
			  height: 100%;
			}

			.bgimg-1, .bgimg-2{
				position: relative;
				background-position: center;
				background-size: cover;
				background-attachment: fixed;
  				background-repeat: no-repeat;
			}

			.bgimg-1 {
			  background-image: url("images/barber_pole_half_size.jpg");
			  min-height: 500px;
			}

			.bgimg-2 {
			  background-image: url("images/barber_beard_cut_half_size.jpg");
			  opacity: 0.65;
			  min-height: 300px;
			}

			.caption {
				position: absolute;
				left: 0;
				top: 50%;
				width: 100%;
				text-align: center;
				color: #000;
			}

			.caption span.border {
				background-color: #111;
				color: #fff;
				padding: 18px;
				font-size: 25px;
				letter-spacing: 10px;
			}

			.navbar-brand {
				position: fixed;
			    top: 20px;
			}

			.btn-info {
				transition: all 0.3s ease 0s;
				border-radius: 25px
			}

			.btn-info:hover {
				background-color: #68c7e3;
				border-color: #53bfdf;
				box-shadow: 0px 5px 10px 5px rgba(170, 222, 238, 0.4);
				transform: translateY(-5px);
			}

			.anchor {
			    display: block;
			    position: relative;
			    top: -50px;
			    visibility: hidden;
			}

			.footer {
				position: fixed;
				left: 0;
				bottom: 0;
				width: 100%;
				background-color: #7C7D7D;
				color: white;
				text-align: center;
			}

			table th {
			   text-align: center;
			   margin:0; 
			}

			.rainbow-text {
				background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
				text-align: center;
				background-size: 800% 800%;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				animation: rainbow 5s linear infinite;
			}

			@keyframes rainbow { 
				0%{background-position:0% 50%}
				50%{background-position:100% 25%}
				100%{background-position:0% 50%}
			}
		</style>
	</head>

	<body onload="start()" style="background-color:#faf9f8">
		<header id="header" class="header container">
			<div class="navbar navbar-default navbar-fixed-top headroom headroom--not-bottom headroom--pinned headroom--top">
				<div class="container">
					<div class="navbar-header container" style="padding:25px">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href = "/"><img style="padding:0px; margin: 10px 0 0 -30px" class="navbar-brand" src="images/CutsuLogo.png"></a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<!--data-toggle="collapse" data-target=".navbar-collapse"-->
							<li><a data-scroll="" href="#about" style="color: darkgray"><strong>About</strong></a></li>
							<li><a data-scroll="" href="#faq" style="color: darkgray"><strong>FAQ</strong></a></li>
							<li><a data-scroll="" href="#appointment" style="color: darkgray"><strong>Make Appointment</strong></a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>

		<!-- Splash -->
		<div class="bgimg-1">
			<div class="caption">
				<span class = "border" style="opacity: .65"><i>Cutsu Haircuts</i></span>
			</div>
		</div>

		<!-- About -->
		<a class = "anchor" id = "about"></a>
		<div>
            <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
            	<h3 style="text-align:center;">About This Website</h3>
				<h4 style="line-height:23px; text-align: center;">
					Hi I'm Atsu Suzuki and I can give you a haircut if you want or whatever. You can use this website to make an appointment. I've put up the timeslots for me that are free, but it's not an exhaustive list. If you need another timeslot feel free to message me individually. When you submit an appointment, the request will be queued and I will manually have to accept it. Usually I'll do it within the day and when I do the website will display the timeslots I've manually confirmed at the bottom of the page. If I don't get back to it quick enough feel free to message me for this too.
				</h4>
			</div>
		</div>
		
		<!-- FAQ -->
		<a class = "anchor" id = "faq"></a>
		<div class="bgimg-2">
			<h3 style="text-align:center;padding:30px;color:white;margin: 0px">FAQ</h3>
			<h4 style="text-align:center;color:white;margin: 0px">Location?</h4>
			<p style="text-align:center;color:white;margin: 5px 0 15px 0">Haircuts will be at 505 E Healey, unless otherwise noted.</p>
			<h4 style="text-align:center;color:white;margin: 0px">PLACEHOLDER</h4>
			<p style="text-align:center;color:white;margin: 5px 0 15px 0">Text Lorum Ipsum.</p>
			<h4 style="text-align:center;color:white;margin: 0px">Financial Compensation?</h4>
			<p style="text-align:center;color:white;margin: 5px 0 0 0">There's no need to pay me — haircuts are free. However, donations will be appreciated :3 &#128076;&#128548;&#128079;Yeet me at my Venmo @Atsu-Suzuki&#128079;&#128548;&#128076; </p>
		</div>

		<!-- Appointment -->
		<a class = "anchor" id = "appointment"></a>
		<div style="color: #777;background-color:#faf9f8;padding:30px;">
			<div class="text-center">
        		<a type="button" class="btn btn-info btn-lg" href="/appointment">Make Appointment</a>
			</div>
			<br>
			<h2 style="text-align:center">Current Appointments</h2>
			<table style="table-layout : fixed; margin: 0 auto; width: 50%; text-align: center;"class="table" id="appointmentTable">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Date</th>
						<th scope="col">Time</th>
					</tr>
				</thead>
					<tbody id="appointmentTableData">
				</tbody>
			</table>
		</div>

		<!-- Footer -->
		<div style="padding-top:200px">
			<div style="color: white;background-image: linear-gradient(hotpink, slateblue);text-align:center;padding:2px;text-align: justify; box-shadow: 0 -10px 30px cyan;">
				<div class="text-center">
            		<h4 style="font-family: 'Comic Sans MS', cursive, sans-serif; color:white">Welcome to the <i class="rainbow-text">Footer Zone</i><h4>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="js/scripts.js" type="text/javascript"></script>
		<script>
			function start(){
				let appointmentData = <%- JSON.stringify(appointmentData) %>;
				var tbody = document.getElementById('appointmentTableData');
				tbody.innerHTML = "";
				for(i=0; i<appointmentData.length; i++){
					var row = tbody.insertRow();
					var th = document.createElement('th');
					th.innerHTML = capitalize(appointmentData[i]["name"]);
					row.appendChild(th);

					var cell1 = row.insertCell();
					cell1.innerHTML = parseDate(appointmentData[i]["date"]);
					var cell2 = row.insertCell();
					cell2.innerHTML = parseTime(appointmentData[i]["time"]);
				}
				if(appointmentData.length == 0)
					document.getElementById('appointmentTable').innerHTML = "<strong>There are currently no registered appointments!</strong>"
			}

		</script>
	</body>
</html>